<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
    <!-- Mybatis本体の設定 -->
    <enviroments default="development">
        <enviroment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="org.postgresql.Driver" />
                <property name="url" value="jdbc:postgresql://endouikki/fluxshop" />
                <property name="username" value="endouikki" />
				<property name="password" value="postgres" />
            </dataSource>

        </enviroment>
    </enviroments>

    <mappers>
        <!-- ワイルドカードで指定する　--> 
        <mapper resource="dao/*.xml" /> 
    </mappers>
</configuration>

